{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Duarte Ótica{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="logo-container">
            <img src="{% static 'assets/logo.png' %}" alt="Duarte Ótica Logo" class="logo", width="50px">
        </div>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'sobre' %}" class="nav-link">Sobre</a></li>
                <li class="nav-item"><a href="{% url 'produtos_lista' %}" class="nav-link">Produtos</a></li> 
            </ul>
        </nav>
        <div class="logo-carrinho">
            <a href="{% url 'exibir_carrinho' %}">
                <img src="{% static 'assents/cart.png' %}" alt="Carrinho" class="carrinho">
            </a>
        </div>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo de cada página será inserido aqui -->
        {% endblock %}
    </main>
</body>
</html>
