{% load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.html">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'endereco' %}">Endereço</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'parceiros' %}">Parceiros</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar Cliente</a></li>
                <li><a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a></li>
                <li><a href="{% url 'cadastrar_pedido' %}">Cadastrar Pedido</a></li>
                <li><a href="{% url 'listar_clientes' %}">Listar Clientes</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>